<html>
@{
    ViewBag.Title = "About";
}
<body style="background-image: url('../../Images//challen.png'); background-size: cover; color: white">
    <div>
        <br /><br />
        <h2>
            About

        </h2>
        <p style="color: white">
                 Fourth Coding cahllange is a site of live coding problems to build coding skill
            Going through many practice problem is a great way to solidify your understanding of how the code should work
            problems work great as homework, or for self-study practice, or in a lab, or as live lecture examples.

                 Solve challenges to prove your skills, access jobs, and unlock special deals for programmers.
          The worlds most advanced code evaluation platform is also a treasure trove of hacker deals, job offers, and networking. This is what a programmer community feels like when the leash breaks
             
        </p>

</div>
</body>
</html>