@model MVCDemo.Models.Challenges

@{
    ViewBag.Title = "Challenges";
  
}


<form>
    <br /><br />
    Select A Challenge:  
       


  @Html.DropDownList("challenges",Model.Challengelist,"Select Challenge..." )

   

    

    @ViewBag.Message


    <input type="button" value="Enter" onclick="@("window.location.href='" + @Url.Action("ChallengesDetails", "Challenges") + "'");" />
   

    

</form>