<html>

@model MVCDemo.Models.Challenges
@{
    ViewBag.Title = "Challenges";

}
<head style="background-color: black">

</head>

<body style="background-image: url('../../Images//challen.png'); background-size: cover; color: white">
    <div >
        <br /><br />
        <h2>
            Select A Challenge

        </h2>



        @using (Html.BeginForm(FormMethod.Post))
        {

            @Html.DropDownListFor(m => m.ChallengeTitle, Model.Challengelist, "Select Challenge...")


            @ViewBag.Message

            <input type="button" id="btnEnter" value="Enter" />
        }



        <script src="~/Scripts/jquery-1.10.2.min.js"></script>

        <script language="javascript">
            //$('#ChallengeTitle').change(function () {
            //    alert($(this).val());
            //});
            $('#btnEnter').click(function () {
                window.location.href = "http://localhost:49502/Challenges/ChallengesDetails/" + $('#ChallengeTitle').val();
            });
        </script>
    </div>
</body>
</html>