<html>

@using GridMvc.Html

@model IEnumerable<MVCDemo.Models.Solutions>

@{
    ViewBag.Title = "ViewSolutions";
}

<body style="background-color:brown; color:black">
<div>
    <br />
<h2>ViewSolutions</h2>

@Html.Grid(Model).Columns(columns =>
{
columns.Add(c => c.Name).Titled("Name");
columns.Add(c => c.Department).Titled("Team");
columns.Add(c => c.Solution).Titled("Solution")
    .Encoded(false)
    .Sanitized(false)
    .Titled("Solution Link")
     .RenderValueAs(c => Html.ActionLink("view", "DisplaySolution", "Challenges", new { id = "id1",target = "_blank"}));

})

<input type="button" id="btnBack" value="Back" onclick="@("window.location.href='" + @Url.Action("Challenges", "Home") + "'");"/>

</div>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script language="javascript">
    //$('#ChallengeTitle').change(function () {
    //    alert($(this).val());
    //});
    $('#id1').click(function () {
        window.location.href = "http://localhost:49502/Challenges/DisplaySolutions/" ;
    });
</script>*@


</body>
</html>

